# ENTREGABLE 1

INSTRUCCIONES

Realizar la primera fase del análisis exploratorio (limpieza) usando el archivo CSV (dataset_banco.csv) con 45215 filas y 17 columnas.

# 1. El problema del negocio

Una entidad bancaria contrata a una empresa de marketing encargada de contactar telefónicamente a posibles clientes para determinar si están interesados o no en adquirir un certificado de depósito a término con el banco.

¿Qué perfil tienen los clientes con mayor potencial de conversión?

#2. El set de datos

Cada registro contiene 16 características (las primeras 16 columnas) y una categoría ("yes" o "no" dependiendo de si la persona está o no interesada en adquirir el producto). Las columnas son:

1. "age":  edad (numérica)
2. "job": tipo de trabajo (categórica: "admin.", "unknown", "unemployed", "management", "housemaid", "entrepreneur", "student", "blue-collar","self-employed", "retired", "technician", "services")
3. "marital": estado civil (categórica: "married", "divorced", "single")
4. "education": nivel educativo (categórica: "unknown", "secondary", "primary", "tertiary")
5. "default": si dejó de pagar sus obligaciones (categórica: "yes", "no")
6. "balance": saldo promedio anual en euros (numérica)
7. "housing": ¿tiene o no crédito hipotecario? (categórica: "yes", "no")
8. "loan": ¿tiene créditos de consumo? (categórica: "yes", "no")
9. "contact": medio a través del cual fue contactado (categórica: "unknown", "telephone", "cellular")
10. "day": último día del mes en el que fue contactada (numérica)
11. "month": último mes en el que fue contactada (categórica: "jan", "feb", "mar", ..., "nov", "dec")
12. "duration": duración (en segundos) del último contacto (numérica)
13. "campaign": número total de veces que fue contactada durante la campaña (numérica)
14. "pdays": número de días transcurridos después de haber sido contactado antes de la campaña actual (numérica. -1 indica que no fue contactado previamente)
15. "previous": número de veces que ha sido contactada antes de esta campaña (numérica)
16. "poutcome": resultado de la campaña de marketing anterior (categórica: "unknown", "other", "failure", "success")
17. "y": categoría ¿el cliente se suscribió a un depósito a término? (categórica: "yes", "no")

#3. Una primera mirada al dataset

In [32]:
# Importar librerías
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
# Lectura

ruta = "dataset_banco.csv"
data = pd.read_csv(ruta)
pd.options.mode.chained_assignment = None

In [34]:
print(data.shape)
data.head()

(45215, 17)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no

In [35]:
# Veamos las variables categóricas y las numéricas
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45213 non-null  object
 2   marital    45214 non-null  object
 3   education  45214 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

#4. Limpieza

Realizaremos el proceso de limpieza teniendo en cuenta las situaciones más comunes:

1. Datos faltantes en algunas celdas
2. Columnas irrelevantes (que no responden al problema que queremos resolver)
3. Registros (filas) repetidos
4. Valores extremos (*outliers*) en el caso de las variables numéricas. Se deben analizar en detalle pues no necesariamente la solución es eliminarlos
5. Errores tipográficos en el caso de las variables categóricas

Al final de este proceso de limpieza deberíamos tener un set de datos **íntegro**, listo para la fase de Análisis Exploratorio.

## 4.1 Datos faltantes

Comenzamos a ver que los datos no están completos, pues no todas las columnas tienen la misma cantidad de registros.

El número total de registros debería ser 45.215. Sin embargo columnas como "job", "marital", "education", "balance", "duration" y "pdays".

Por ser tan pocos los datos  faltantes optaremos por eliminar las filas correspondientes:

In [36]:
len(data)

45215

In [37]:
data.isna().sum()

age          0
job          2
marital      1
education    1
default      0
balance      2
housing      0
loan         0
contact      0
day          0
month        0
duration     1
campaign     0
pdays        1
previous     0
poutcome     0
y            0
dtype: int64

In [38]:
data = data.dropna()
len(data)

45207

In [39]:
data.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

##4.2 Columnas irrelevantes

Una columna irrelevante puede ser:

- **Una columna que no contiene información relevante para el problema que queremos resolver**. Por ejemplo en este caso podría ser una columna que no guarde relación con el posible perfil del cliente (deporte favorito, hobbies, comida favorita, etc.)
- **Una columna categórica pero con un sólo nivel**. Por ejemplo si en la columna "job" solo tuviésemos el nivel "unknown".
- **Una columna numérica pero con un sólo valor**. Por ejemplo si en la columna "edad" todos los vlaores fuesen iguales a 50.
- **Columnas con información redundante**. Por ejemplo si además de las columnas "month" y "day" tuviésemos la columna "month-day", resultado de combinar las dos anteriores.

Si tenemos la duda de si alguna columna puede ser relevante o no lo mejor es dejarla (y más adelante en posteriores etapas podremos darnos cuenta de si se debe preservar o no).

En este caso todas las columnas pueden resultar relevantes, pero debemos verificar que no haya columnas categóricas con un sólo nivel, o columnas numéricas con un sólo valor:

Todas las columnas categóricas tienen más de 1 subnivel. No eliminaremos ninguna.

Verifiquemos lo que ocurre con las columnas numéricas:

Todas las columnas numéricas tienen desviaciones estándar ("std") diferentes de cero, lo que indica que no tienen un único valor.

Preservaremos todas las columnas numéricas.

In [40]:
for i in data.columns:
    print(f'Variable {i}:')
    print(data[i].value_counts())

Variable age:
32     2083
31     1995
33     1971
34     1930
35     1894
       ...
399       1
311       1
776       1
332       1
490       1
Name: age, Length: 85, dtype: int64
Variable job:
blue-collar       9730
management        9454
technician        7597
admin.            5166
services          4153
retired           2263
self-employed     1578
entrepreneur      1487
unemployed        1303
housemaid         1240
student            938
unknown            288
administrative       3
Management           2
MANAGEMENT           2
Self-employed        1
Services             1
Retired              1
Name: job, dtype: int64
Variable marital:
married     27211
single      12786
divorced     5196
div.            7
Single          4
DIVORCED        3
Name: marital, dtype: int64
Variable education:
secondary    23192
tertiary     13301
primary       6848
unknown       1855
SECONDARY        3
Primary          2
sec.             2
UNK              2
Secondary        1
Tertiary         1
Name: education, dtype: int64
Variable default:
no     44391
yes      816
Name: default, dtype: int64
Variable balance:
 0.0        3514
 1.0         195
 2.0         156
 4.0         139
 3.0         134
            ...
-554.0         1
 1792.0        1
-381.0         1
 4617.0        1
 16353.0       1
Name: balance, Length: 7168, dtype: int64
Variable housing:
yes    25125
no     20082
Name: housing, dtype: int64
Variable loan:
no     37956
yes     7241
No         5
YES        2
NO         2
Yes        1
Name: loan, dtype: int64
Variable contact:
cellular     29278
unknown      13021
telephone     2902
phone            3
mobile           3
Name: contact, dtype: int64
Variable day:
20    2752
18    2308
21    2026
17    1939
6     1932
5     1910
14    1847
8     1842
28    1830
7     1817
19    1757
29    1745
15    1703
12    1600
13    1583
30    1566
9     1561
11    1479
4     1445
16    1416
2     1294
27    1121
3     1079
26    1035
23     939
22     905
25     840
31     643
10     524
24     447
1      322
Name: day, dtype: int64
Variable month:
may    13760
jul     6895
aug     6247
jun     5342
nov     3971
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64
Variable duration:
124.0     188
90.0      184
89.0      177
104.0     175
114.0     175
         ...
1349.0      1
3422.0      1
1834.0      1
1456.0      1
1556.0      1
Name: duration, Length: 1573, dtype: int64
Variable campaign:
1     17544
2     12504
3      5519
4      3522
5      1764
6      1291
7       735
8       539
9       327
10      266
11      201
12      155
13      133
14       93
15       84
16       79
17       69
18       51
19       44
20       43
21       35
22       23
25       22
23       22
24       20
29       16
28       16
26       13
31       12
27       10
32        9
30        8
33        6
34        5
36        4
35        4
43        3
38        3
37        2
50        2
41        2
46        1
58        1
55        1
63        1
51        1
39        1
44        1
Name: campaign, dtype: int64
Variable pdays:
-1.0      36953
 182.0      167
 92.0       147
 91.0       126
 183.0      126
          ...
 449.0        1
 452.0        1
 648.0        1
 595.0        1
 530.0        1
Name: pdays, Length: 559, dtype: int64
Variable previous:
0      36953
1       2770
2       2106
3       1141
4        714
5        460
6        277
7        205
8        128
9         92
10        67
11        65
12        44
13        38
15        20
14        19
17        15
16        13
19        11
20         8
23         8
18         6
22         6
24         5
27         5
21         4
29         4
25         4
30         3
38         2
37         2
26         2
28         2
51         1
275        1
58         1
32         1
40         1
55         1
35         1
41         1
Name: previous, dtype: int64
Variable poutcome:
unknown    36954
failure     4900
other       1838
success     1509
UNK            4
Success        2
Name: poutcome, dtype: int64
Variable y:
no     39919
yes     5288
Name: y, dtype: int64

In [41]:
data['date_concat'] = data['day'].astype(str) + '__' + data['month']
data = data.drop(['day', 'month'], axis=1)

##4.3 Filas repetidas

In [42]:
data.drop_duplicates(inplace=True)

##4.4 *Outliers* en las variables numéricas

No siempre se deben eliminar los *outliers* porque dependiendo de la variable numérica analizada estos pueden contener información importante.

In [43]:
for i in data.index:
    if data['pdays'][i] == -1:
        data['pdays'][i] = 'no contactado'

data['pdays'].unique()

array(['no contactado', 187.0, 151.0, 166.0, 91.0, 86.0, 143.0, 147.0,
       89.0, 140.0, 176.0, 101.0, 174.0, 170.0, 167.0, 195.0, 165.0,
       129.0, 188.0, 196.0, 172.0, 118.0, 119.0, 104.0, 171.0, 117.0,
       164.0, 132.0, 131.0, 123.0, 159.0, 186.0, 111.0, 115.0, 116.0,
       173.0, 178.0, 110.0, 152.0, 96.0, 103.0, 150.0, 175.0, 193.0,
       181.0, 185.0, 154.0, 145.0, 138.0, 126.0, 180.0, 109.0, 158.0,
       168.0, 97.0, 182.0, 127.0, 130.0, 194.0, 125.0, 105.0, 102.0, 26.0,
       179.0, 28.0, 183.0, 155.0, 112.0, 120.0, 137.0, 124.0, 190.0,
       113.0, 162.0, 134.0, 169.0, 189.0, 8.0, 144.0, 191.0, 184.0, 177.0,
       5.0, 99.0, 133.0, 93.0, 92.0, 10.0, 100.0, 156.0, 198.0, 106.0,
       153.0, 146.0, 128.0, 7.0, 121.0, 160.0, 107.0, 90.0, 27.0, 197.0,
       136.0, 139.0, 122.0, 157.0, 149.0, 135.0, 30.0, 114.0, 98.0, 192.0,
       163.0, 34.0, 95.0, 141.0, 31.0, 199.0, 94.0, 108.0, 29.0, 268.0,
       247.0, 253.0, 226.0, 244.0, 239.0, 245.0, 204.0, 231.0, 238.0,
       258.0, 230.0, 254.0, 265.0, 71.0, 223.0, 246.0, 250.0, 266.0,
       240.0, 205.0, 261.0, 259.0, 241.0, 260.0, 234.0, 251.0, 225.0,
       161.0, 237.0, 262.0, 248.0, 255.0, 220.0, 227.0, 206.0, 224.0,
       249.0, 235.0, 228.0, 263.0, 2.0, 270.0, 232.0, 252.0, 207.0, 200.0,
       269.0, 233.0, 256.0, 273.0, 272.0, 242.0, 264.0, 208.0, 214.0,
       222.0, 271.0, 203.0, 221.0, 202.0, 216.0, 201.0, 257.0, 229.0,
       210.0, 217.0, 75.0, 213.0, 73.0, 76.0, 267.0, 211.0, 215.0, 77.0,
       236.0, 82.0, 6.0, 209.0, 274.0, 1.0, 243.0, 212.0, 275.0, 80.0,
       276.0, 9.0, 279.0, 12.0, 280.0, 88.0, 277.0, 85.0, 84.0, 219.0,
       24.0, 21.0, 282.0, 41.0, 294.0, 49.0, 329.0, 307.0, 303.0, 331.0,
       308.0, 300.0, 64.0, 314.0, 287.0, 330.0, 332.0, 302.0, 323.0,
       318.0, 333.0, 60.0, 326.0, 335.0, 313.0, 312.0, 305.0, 325.0,
       327.0, 336.0, 309.0, 328.0, 322.0, 39.0, 316.0, 292.0, 295.0,
       310.0, 306.0, 320.0, 317.0, 289.0, 57.0, 321.0, 142.0, 339.0,
       301.0, 315.0, 337.0, 334.0, 340.0, 319.0, 17.0, 74.0, 148.0, 341.0,
       299.0, 344.0, 342.0, 324.0, 345.0, 346.0, 304.0, 281.0, 343.0,
       338.0, 14.0, 347.0, 15.0, 291.0, 348.0, 349.0, 285.0, 350.0, 284.0,
       25.0, 283.0, 278.0, 81.0, 4.0, 87.0, 83.0, 79.0, 70.0, 13.0, 293.0,
       37.0, 78.0, 63.0, 22.0, 296.0, 355.0, 66.0, 19.0, 35.0, 360.0,
       357.0, 354.0, 351.0, 362.0, 358.0, 365.0, 298.0, 286.0, 364.0,
       363.0, 47.0, 361.0, 288.0, 366.0, 356.0, 352.0, 359.0, 297.0,
       367.0, 353.0, 368.0, 42.0, 290.0, 67.0, 371.0, 370.0, 369.0, 50.0,
       36.0, 373.0, 374.0, 372.0, 311.0, 375.0, 378.0, 59.0, 379.0, 40.0,
       18.0, 43.0, 20.0, 69.0, 38.0, 385.0, 56.0, 55.0, 44.0, 391.0, 72.0,
       390.0, 32.0, 62.0, 399.0, 393.0, 65.0, 377.0, 395.0, 388.0, 389.0,
       386.0, 61.0, 412.0, 405.0, 434.0, 394.0, 382.0, 459.0, 440.0,
       397.0, 383.0, 68.0, 461.0, 462.0, 463.0, 422.0, 51.0, 457.0, 430.0,
       442.0, 403.0, 454.0, 428.0, 392.0, 410.0, 401.0, 474.0, 475.0,
       477.0, 478.0, 54.0, 476.0, 380.0, 479.0, 45.0, 46.0, 495.0, 58.0,
       48.0, 518.0, 52.0, 515.0, 520.0, 511.0, 536.0, 387.0, 218.0, 33.0,
       544.0, 435.0, 436.0, 555.0, 433.0, 446.0, 558.0, 469.0, 616.0,
       561.0, 553.0, 384.0, 592.0, 467.0, 585.0, 480.0, 421.0, 667.0,
       626.0, 426.0, 595.0, 381.0, 376.0, 648.0, 521.0, 452.0, 449.0,
       633.0, 398.0, 53.0, 460.0, 670.0, 551.0, 414.0, 557.0, 687.0,
       404.0, 651.0, 686.0, 425.0, 504.0, 578.0, 674.0, 416.0, 586.0,
       411.0, 756.0, 450.0, 745.0, 514.0, 417.0, 424.0, 776.0, 396.0,
       683.0, 529.0, 439.0, 415.0, 456.0, 407.0, 458.0, 532.0, 481.0,
       791.0, 701.0, 531.0, 792.0, 413.0, 445.0, 535.0, 784.0, 419.0,
       455.0, 491.0, 431.0, 542.0, 470.0, 472.0, 717.0, 437.0, 3.0, 782.0,
       728.0, 828.0, 524.0, 562.0, 761.0, 492.0, 775.0, 579.0, 493.0,
       464.0, 760.0, 466.0, 465.0, 656.0, 831.0, 490.0, 432.0, 655.0,
       427.0, 749.0, 838.0, 769.0, 587.0, 778.0, 854.0, 779.0, 850.0,
       771.0, 594.0, 842.0, 589.0, 603.0, 484.0, 489.0, 486.0, 409.0,
       444.0, 680.0, 808.0, 485.0, 503.0, 690.0, 772.0, 774.0, 526.0,
       420.0, 528.0, 500.0, 826.0, 804.0, 508.0, 547.0, 805.0, 541.0,
       543.0, 871.0, 550.0, 530.0], dtype=object)

In [44]:
import numpy as np

for i in data.index:
    if data['previous'][i] == 275:
        data['previous'][i] = np.nan
    if data['age'][i] > 110:
        data['age'][i] = np.nan

In [45]:
for i in data.index:
    if data['duration'][i] < 0:
        data['duration'][i] = np.nan

In [46]:
data.dropna(inplace=True)

##4.5 Errores tipográficos en variables categóricas

En una variable categórica pueden aparecer sub-niveles como "unknown" y "UNK" que para nosotros son equivalentes pero que para nuestro programa parecerían diferentes.

Se deben unificar estos sub-niveles

In [47]:
for i in data.index:
    if (data['job'][i] == 'Management') or (data['job'][i] == 'MANAGEMENT'):
        data['job'][i] = 'management'
    elif (data['job'][i] == 'Services'):
        data['job'][i] = 'services'
    elif (data['job'][i] == 'Retired'):
        data['job'][i] = 'retired'
    elif (data['job'][i] == 'Self-employed'):
        data['job'][i] = 'self-employed'
    elif (data['job'][i] == 'administrative'):
        data['job'][i] = 'admin.'

In [48]:
data['job'].value_counts()

blue-collar      9727
management       9456
technician       7593
admin.           5168
services         4152
retired          2263
self-employed    1578
entrepreneur     1487
unemployed       1303
housemaid        1240
student           937
unknown           288
Name: job, dtype: int64

In [49]:
for i in data.index:
    if data['marital'][i] == 'div.':
        data['marital'][i] = 'divorced'
    elif (data['marital'][i] == 'Single'):
        data['marital'][i] = 'single'
    elif (data['marital'][i] == 'DIVORCED'):
        data['marital'][i] = 'divorced'

In [50]:
data['marital'].value_counts()

married     27203
single      12785
divorced     5204
Name: marital, dtype: int64

In [51]:
for i in data.index:
    if data['education'][i] == 'SECONDARY.':
        data['education'][i] = 'secondary'
    elif (data['education'][i] == 'SECONDARY'):
        data['education'][i] = 'secondary'
    elif (data['education'][i] == 'Primary'):
        data['education'][i] = 'primary'
    elif (data['education'][i] == 'sec.'):
        data['education'][i] = 'secondary'
    elif (data['education'][i] == 'UNK'):
        data['education'][i] = 'unknown'
    elif (data['education'][i] == 'Secondary'):
        data['education'][i] = 'secondary'
    elif (data['education'][i] == 'Tertiary'):
        data['education'][i] = 'tertiary'

In [52]:
data['education'].value_counts()

secondary    23189
tertiary     13298
primary       6848
unknown       1857
Name: education, dtype: int64

In [53]:
for i in data.index:
    if (data['loan'][i] == 'No') or (data['loan'][i] == 'NO'):
        data['loan'][i] = 'no'
    elif (data['loan'][i] == 'Yes') or (data['loan'][i] == 'YES'):
        data['loan'][i] = 'yes'

In [54]:
data['loan'].value_counts()

no     37950
yes     7242
Name: loan, dtype: int64

In [55]:
for i in data.index:
    if data['contact'][i] == 'phone':
        data['contact'][i] = 'telephone'
    elif data['contact'][i] == 'mobile':
        data['contact'][i] = 'cellular'

In [56]:
data['contact'].value_counts()

cellular     29276
unknown      13012
telephone     2904
Name: contact, dtype: int64

In [57]:
data[data['duration'] < 0]

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, duration, campaign, pdays, previous, poutcome, y, date_concat]
Index: []

In [58]:
for i in data.index:
    if data['pdays'][i] == -1:
        data['pdays'][i] = 'no contactado'

In [59]:
data['pdays'].value_counts()

no contactado    36941
182.0              167
92.0               147
91.0               126
183.0              126
                 ...
449.0                1
452.0                1
648.0                1
595.0                1
530.0                1
Name: pdays, Length: 559, dtype: int64

In [60]:
for i in data.index:
    if data['poutcome'][i] == 'Success':
        data['poutcome'][i] = 'success'
    elif (data['poutcome'][i] == 'UNK'):
        data['poutcome'][i] = 'unknown'

## Conclusiones

In [61]:
#data.to_csv('dataset_banco_entregable_clean.csv', index=False)

Realizar una buena limpieza de datos es fundamental antes de llevar a cabo cualquier análisis o estudio por varias razones importantes:


1. Calidad de los resultados: Los datos limpios y de alta calidad conducen a resultados más precisos y confiables. Eliminar datos incompletos, incorrectos o duplicados ayuda a evitar que estos afecten negativamente a tus conclusiones y decisiones.

2. Confianza en los resultados: Una limpieza adecuada de los datos aumenta la confianza en los resultados del análisis. Cuando los datos están limpios, los resultados son más fáciles de interpretar y explicar, lo que aumenta la credibilidad del estudio.
   
3. Mejora del rendimiento del modelo: En el caso del aprendizaje automático y la inteligencia artificial, los modelos entrenados con datos limpios y bien preparados tienden a tener un mejor rendimiento y generalización en datos nuevos y no vistos.
   
4. Eficiencia del proceso de análisis: La limpieza de datos previa permite ahorrar tiempo y recursos durante el proceso de análisis. Al eliminar datos irrelevantes o incorrectos desde el principio, se reduce la necesidad de volver atrás y corregir errores más adelante en el proceso.
   
5. Reducción de sesgos: La limpieza de datos también puede ayudar a reducir los sesgos que podrían introducirse en el análisis debido a datos incorrectos o incompletos. Al asegurarse de que los datos sean representativos y precisos, se reduce la posibilidad de que el análisis esté sesgado.
   

En resumen, la limpieza de datos es un paso crítico en cualquier proyecto de análisis o estudio. Asegura la calidad, confiabilidad y eficiencia de los resultados, lo que lleva a conclusiones más sólidas y decisiones más informadas.

Por todo esto, las medidas que hemos tomado frente a este dataset han sido estas:

En cuanto a las conclusiones propias de este análisis, hemos eliminado del dataset la variable default, ya que poseía un gran número de NAs y no nos era de mucha utilidad.

Hemos eliminado todos los valores faltantes que teníamos a través de la eliminación de toda observación que poseyera alguno.

Nos hemos encargado también de limpiar todos los errores ortográficos que se han visto presentes en las distintas variables del dataset, dejando únicamente un único label por cada nivel de cada una de ellas.

Hemos eliminado algunos de los valores más extremos de las variables numéricas, los cuales, creemos que no era posible de que fueran correctos.